<!-- Top -->
<section class="ClassPicture">
  <picture>
    <img src="<%= locals.classData.picture -%>" />
  </picture>
  <div class="ClassPictureContent">
    <h1><%= locals.classData.name -%></h1>
    <h2><%= locals.classData.description -%></h2>
  </div>
</section>
<div class="StreamFilter" id="ChipFilters">
  <div class="ChipFilter Active" id="ChipFilterHome"><span class="material-icons chipIcon">home</span><p>Stream</p></div>
  <div class="ChipFilter Active" id="ChipFilterContent"><span class="material-icons chipIcon">source</span><p>Content</p></div>
  <div class="ChipFilter Active" id="ChipFilterDiscussions"><span class="material-icons chipIcon">chat</span><p>Discussions</p></div>
  <div class="ChipFilter Active" id="ChipFilterAssignments"><span class="material-icons chipIcon">assignment</span><p>Assignments</p></div>
  <div class="ChipFilter Active" id="ChipFilterQuizzes"><span class="material-icons chipIcon">quiz</span><p>Quizzes</p></div>
</div>
<!-- Stream Announcements -->
<section class="StreamCards Search Filter"><%- locals.announcements %></section>
