<aside class="SideBar" id="SideBar"></aside>
<section id="Content">
  <!-- NavBar -->
  <%- locals.navBar %>
  <!-- Main Body -->
  <main id="main" class="Loader">
    <div class="lds-grid">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </main>
</section>