<aside class="SideBar" id="SideBar"></aside>
<section id="Content">
  <!-- NavBar -->
  <%- locals.navBar %>
  <!-- Main Body -->
  <main id="main" class="Loader">
    <div class="lds-grid">
      <% for (let i = 0; i < 9; i++) { %>
        <div></div>
      <% } %>
    </div>
  </main>
</section>
