<meta charset="utf-8">
<link rel="icon" href="https://s.brightspace.com/lib/favicon/2.0.0/favicon.ico">
<title><%= locals.title %></title>
<meta name="description" content="D2l Overhaul">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- FONT -->
<link href="../css/Material.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" nonce="">
<link href="https://fonts.googleapis.com/css?family=Google+Sans:300,400,500" rel="stylesheet" nonce="">
<!-- CSS -->
<link href="../css/Theme/Dark.css" rel="stylesheet" type="text/css" />
<link href="../css/main.scss" rel="stylesheet" type="text/css" />