<nav class="NavBar" id="NavBar">
  <div class="side">
    <span class="material-icons AsideButton" id="AsideButton">
      menu
    </span>
  </div>
  <div class="center">
    <input id="Search" placeholder="Search" type="text" />
  </div>
  <div class="side">
    <div class="Account">
      <span class="material-icons" id="MailButton">
        mail
      </span>
      <span class="material-icons" id="MessageButton">
        message
      </span>      
      <span class="material-icons" id="NotificationButton">
        notifications
      </span>
      <div class="Profile" id="AccountButtton">
        <picture>
          <img src="/d2l/api/lp/1.32/profile/myProfile/image" />
        </picture>
      </div>
    </div>
  </div>
</nav>
