<div class="UploadedFile">
  <picture>
    <img src="https://lh3.google.com/u/1/d/14vDWxhiT2jOn16kbBHPYzr11y0MAR3SDcGjuV6EUQOM=w250-h188-p-k-nu" />
  </picture>
  <span><%= locals.name %></span>
</div>