<div class="UploadedFile" onClick="window.open('<%- locals.href %>');" documentId="<%- locals.documentId %>">
  <picture>
    <img src="<%- locals.thumbnail %>" />
  </picture>
  <span class="FileTitle"><%= locals.name %></span>
  <span class="FileRemove material-icons" onClick="this.parentNode.remove();event.stopPropagation();">close</span>
</div>