.container {
  margin-top: var(--navBar-Size);
  padding-top: 1px;
  overflow-y: auto;
  height: calc(100% - var(--navBar-Size));
}
.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 1rem auto;
  max-width: 75%;
  min-width: 30rem;
}
