.container {
  margin-top: var(--navBar-Size);
  padding-top: 1px;
  overflow-y: auto;
  height: calc(100% - var(--navBar-Size));
}
.content {
  $pageSize: calc(100% - 22.5rem);
  width: $pageSize;
  margin: 2em auto;
  // Grid
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 15rem auto;
  grid-gap: 0.5rem;
  // grid-template-areas:
  //   'Header Header'
  //   'Widget Stream'
  // ;
  grid-template-areas:
    'Header Header'
    'Stream Stream';
  // Grid Layout
  header {
    grid-area: Header;
  }
  .stream {
    grid-area: Stream;
    input {
      display: none;
    }
  }
}
.chipContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
