/* General Page Stuff */
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto',Helvetica,Arial,sans-serif;
  color: var(--Text-Main);
}
body {
  margin: 0;
  background-color: var(--Background);
  position: relative;
}
* {
  box-sizing: border-box;
}
picture, picture img {
  display: block;
  height: 100%;
  width: 100%;
}
// ScrollBar
*::-webkit-scrollbar {
  width: 16px;
}
*::-webkit-scrollbar-thumb {
  background: #dadce0;
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 8px;
  box-shadow: none;
  min-height: 50px;
}
*::-webkit-scrollbar-track {
  background: none;
  border: none;
}
/* Text */
h1 {
  color: var(--Text-Main);
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.75rem;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
}
h2 {
  color: var(--Text-Main);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin: 0;
}
/* Aside */
.SideBar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 19rem;
  padding: .5rem 0;
  z-index: 990;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
  background-color: var(--Foreground);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  max-width: 0;
  transition: max-width .5s;
  &.Active {
    max-width: 100%;
  }
}
.SideBarSeperator {
  border-top: 0.0625rem solid var(--Border);
  margin: .5rem 0;
}
.SideBarSection {
  flex-grow: 1;
  min-height: max-content;
}
.SideBarHeader {
  padding: 0 1rem;
  letter-spacing: .01785714em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}
.SideBarItem {
  display: flex;
  align-content: center;
  border-radius: 0 2rem 2rem 0;
  height: 3.5rem;
  padding-left: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  .SideBarItemText {
    margin-left: 1rem;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    letter-spacing: .01785714em;
    font-size: 0.875rem;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 4rem;
    text-overflow: ellipsis;
  }
  span {
    line-height: 3.5rem;
  }
  &:hover {
    background-color: #343434;
  }
}
/* Content */
#Content {
  min-height: 100%;
  height: min-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#Content > * {
  padding: 1rem;
}
main {
  height: 100%;
  width: 100%;
}
/* Home Page */
.Home > main {
  max-width: 70rem;
  margin: auto;
  display: grid;
}
/* Loader Page */
main.Loader {
  display: flex;
  align-content: center;
  flex-direction: column;
}
.lds-grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 16px);
  grid-template-rows: repeat(3, 16px);
  grid-gap: 8px;
}
.lds-grid div {
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) { animation-delay: 0s; }
.lds-grid div:nth-child(2), .lds-grid div:nth-child(4) { animation-delay: -0.4s; }
.lds-grid div:nth-child(3), .lds-grid div:nth-child(5), .lds-grid div:nth-child(7) { animation-delay: -0.8s; }
.lds-grid div:nth-child(6), .lds-grid div:nth-child(8) { animation-delay: -1.2s; }
.lds-grid div:nth-child(9) { animation-delay: -1.6s; }
@keyframes lds-grid {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}
/* General */
.Hidden, .Filtered {
  display: none !important;
}
/* Hovers */
.Class, .StreamCard {
  cursor: pointer;
}
.Class:hover, .StreamCard:hover {
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
  border-radius: .75rem;
}
/* Components */
.NavBar {
  padding: .75rem 1rem !important;
  height: 4rem;
  width: 100%;
  background: var(--Foreground);
  display: grid;
  grid-template-columns: 2.5rem auto max-content;
  position: relative;
  .AsideButton {
    display: flex;
    align-content: center;
    border-radius: 50%;
    &:hover {
      background: var(--Background);
    }
    svg {
      margin: auto;
      width: 2rem;
      height: 2rem;
    }
  }
  input {
    height: 2.5rem;
    width: 50%;
    margin: auto;
    display: block;
    background-color: #212121;
    outline: none;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    color: #fff;
  }
  .Account {
    display: grid;
    grid-template-columns: repeat(4, 2.5rem);
    grid-gap: .25rem;
    span {
      width: 2.5rem;
      height: 2.5rem;
      text-align: center;
      line-height: 2.5rem;
      &.Active {
        color: #FB8C00;
      }
    }
    .Profile picture {
      padding: .25rem;
    }
    span, div {
      cursor: pointer;
      border-radius: .5rem;
    }
    span:hover, div:hover {
      background-color: #2F3033;
    }
  }
}

.ClassContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, min-content);
  grid-gap: 2rem;
}
.Class {
  height: 15rem;
  width: 100%;
  overflow: hidden;
  background-color: var(--Foreground);
  border: 0.0625rem solid var(--Border);
  border-radius: .5rem;
  position: relative;
  z-index: 0;
}
.Class > div {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .25);
  padding: 1rem;
  display: grid;
  grid-template-rows: auto 3rem;
}
.Class div div {
  display: flex;
}
.Class h2 {
  height: 100%;
  line-height: 3rem;
  padding-left: 1rem;
}
.Class > picture {
  z-index: -1;
  position: absolute;
}
.Class[disabled] > picture {
  filter: grayscale(100%);
}

.Profile {
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

/* Stream */
.Stream > main {
  flex-grow: 1;
  min-height: max-content;
  width: calc(100% - 2*1.5rem);
  max-width: 62.5rem;
  margin: 0 auto;
  padding: 0 !important;
}
.ClassPicture {
  margin: 1.5rem 0;
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
}
.ClassPictureContent {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ClassPictureContent h1, .ClassPictureContent h2 {
  margin: 0;
}
.ClassPictureContent h4 {
  margin-top: .4rem;
  font-weight: 500;
  font-style: normal;
}
.ChipFilter {
  display: inline-flex;
  height: max-content;
  width: max-content;
  padding: .25rem .5rem;
  border: 0.0625rem solid var(--Border);
  border-radius: 2rem;
  font-size: .75rem;
  cursor: pointer;
  user-select: none;
  background-color: var(--Foreground);
  .chipIcon {
    border-radius: 50%;
    padding: .25rem;
    font-size: .75rem;
    margin-right: .25rem;
    background-color: #3367D6;
  }
  p {
    margin: auto;
    display: inline-block;
  }
  &:hover {
    background-color: #343434;
  }
  &.Active {
    background-color: #181818;
  }
}
/* Stream Cards */
.StreamCard {
  width: 100%;
  height: 4rem;
  background-color: var(--Foreground);
  border: 0.0625rem solid var(--Border);
  border-radius: .5rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 3rem max-content;
  grid-template-areas: 
    'Icon Title'
    'Content Content'
  ;
  padding: .5rem;
  grid-gap: .5rem;
  margin: 1rem 0;
}
.StreamCardTitle {
  grid-area: Title;
}
.StreamCard h1, .StreamCard h3 {
  margin: 0;
}
.StreamCard h3 {
  font-size: .75rem;
}
.StreamCardIcon {
  grid-area: Icon;
  background: var(--Background);
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  display: flex;
  align-content: center;
  &.OnSubmission {
    background: #3367d6;
  }
  &.DueDate {
    background: #e91e63;
  }
  span {
    margin: auto;
  }
}

.StreamCardBody {
  grid-area: Content;
  overflow: hidden;
  width: 100%;
  height: 0;
}
.StreamCard.Active, .StreamCard.Active > .StreamCardBody {
  height: max-content;
}

.DropDown {
  min-height: 30rem;
  width: 20rem;
  border-radius: .5rem;
  border: 0.0625rem solid var(--Border);
  background-color: var(--Foreground);
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;
  padding: 1rem;
  margin: -.25rem .5rem;
  overflow-y: scroll;
}