/* General Page Stuff */
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: var(--Text-Main);
}
body {
  margin: 0;
  background-color: var(--Background);
  position: relative;
}
* {
  box-sizing: border-box;
}
picture,
picture img {
  display: block;
  height: 100%;
  width: 100%;
}
// ScrollBar
*::-webkit-scrollbar {
  width: 16px;
}
*::-webkit-scrollbar-thumb {
  background: #dadce0;
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 8px;
  box-shadow: none;
  min-height: 50px;
}
*::-webkit-scrollbar-track {
  background: none;
  border: none;
}
/* Text */
h1,
h2 {
  color: var(--Text-Main);
}
h1 {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.75rem;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
}
h2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin: 0;
}
/* Aside */
.SideBar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 19rem;
  padding: 0.5rem 0;
  z-index: 990;
  box-shadow: 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f,
    0 5px 5px -3px #00000033;
  background-color: var(--Foreground);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  max-width: 0;
  transition: max-width 0.5s;
  &.Active {
    max-width: 100%;
  }
  hr {
    border-top: 0.0625rem solid var(--Border);
    margin: 0.5rem;
  }
}
.SideBarSection {
  flex-grow: 1;
  min-height: max-content;
}
.SideBarHeader {
  padding: 0 1rem;
  letter-spacing: 0.01785714em;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}
.SideBarItem {
  display: flex;
  align-content: center;
  border-radius: 0 2rem 2rem 0;
  height: 3.5rem;
  padding-left: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  .SideBarItemText {
    margin-left: 1rem;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    letter-spacing: 0.01785714em;
    font-size: 0.875rem;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 4rem;
    text-overflow: ellipsis;
  }
  span {
    line-height: 3.5rem;
  }
  &:hover {
    background-color: #343434;
  }
}
/* Content */
#Content {
  min-height: 100%;
  height: min-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#Content > * {
  padding: 1rem;
}
main {
  height: 100%;
  width: 100%;
}
/* Home Page */
.Home > main {
  max-width: 70rem;
  margin: auto;
  display: grid;
}
/* Loader Page */
.Loader {
  display: flex;
  align-content: center;
  flex-direction: column;
}
.lds-grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 16px);
  grid-template-rows: repeat(3, 16px);
  grid-gap: 8px;
}
.lds-grid div {
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  animation-delay: 0s;
}
.lds-grid div:nth-child(2),
.lds-grid div:nth-child(4) {
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3),
.lds-grid div:nth-child(5),
.lds-grid div:nth-child(7) {
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6),
.lds-grid div:nth-child(8) {
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
/* General */
.Hidden,
.Filtered {
  display: none !important;
}
/* Hovers */
.StreamCard {
  cursor: pointer;
}
.StreamCard:hover {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  border-radius: 0.75rem;
}
/* Components */
.NavBar {
  padding: 0.75rem 1rem !important;
  height: 4rem;
  width: 100%;
  background: var(--Foreground);
  display: grid;
  grid-template-columns: 2.5rem auto max-content;
  position: relative;
  .AsideButton {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    cursor: pointer;
    &:hover {
      background: var(--Background);
    }
    svg {
      margin: auto;
      width: 2rem;
      height: 2rem;
    }
  }
  input {
    height: 2.5rem;
    width: 50%;
    margin: auto;
    display: block;
    background-color: #212121;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #fff;
  }
  .Account {
    display: grid;
    grid-template-columns: repeat(4, 2.5rem);
    grid-gap: 0.25rem;
    span {
      width: 2.5rem;
      height: 2.5rem;
      text-align: center;
      line-height: 2.5rem;
      &.Active {
        color: #fb8c00;
      }
    }
    .Profile picture {
      padding: 0.25rem;
    }
    span,
    div {
      cursor: pointer;
      border-radius: 0.5rem;
    }
    span:hover,
    div:hover {
      background-color: #2f3033;
    }
  }
}

.ClassContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 1rem auto;
  width: 100%;
}
.classCard {
  width: 100%;
  aspect-ratio: 16 / 7;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  img {
    min-height: 100%;
    width: 100%;
  }
  picture {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .classCardContent {
    position: absolute;
    width: 100%;
    padding: 1rem 2rem;
    bottom: 0;
    left: 0;
    h4,
    h6 {
      color: #f2f2f2;
      font-style: normal;
      margin-bottom: 1rem;
      margin-top: 0;
    }
    h4 {
      font-weight: bold;
      font-size: 1.6rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    h6 {
      font-weight: 500;
      font-size: 0.9rem;
    }
  }
  &[disabled] img {
    filter: brightness(0.5) blur(10px);
  }
  &:hover {
    transform: scale(1.05);
  }
}

.Profile {
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

/* Stream */
.Stream > main {
  flex-grow: 1;
  min-height: max-content;
  width: calc(100% - 2 * 1.5rem);
  max-width: 62.5rem;
  margin: 0 auto;
  padding: 0 !important;
}
.ClassPicture {
  margin: 1.5rem 0;
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
  aspect-ratio: 4 / 1;
}
.ClassPictureContent {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  h1,
  h2 {
    margin: 0;
  }
  h4 {
    margin-top: 0.4rem;
    font-weight: 500;
    font-style: normal;
  }
}
.ChipFilter {
  display: inline-flex;
  height: max-content;
  width: max-content;
  padding: 0.25rem 0.5rem;
  border: 0.0625rem solid var(--Border);
  border-radius: 2rem;
  font-size: 0.75rem;
  cursor: pointer;
  user-select: none;
  background-color: var(--Foreground);
  .chipIcon {
    border-radius: 50%;
    padding: 0.25rem;
    font-size: 0.75rem;
    margin-right: 0.25rem;
    background-color: var(--Active);
  }
  p {
    margin: auto;
    display: inline-block;
  }
  &:hover {
    background-color: #343434;
  }
  &.Active {
    background-color: var(--Active);
  }
}
/* Stream Cards */
.StreamCard {
  width: 100%;
  height: 4rem;
  background-color: var(--Foreground);
  border: 0.0625rem solid var(--Border);
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 3rem max-content;
  grid-template-areas:
    'Icon Title'
    'Content Content';
  padding: 0.5rem;
  grid-gap: 0.5rem;
  margin: 1rem 0;
  h1,
  h3 {
    margin: 0;
  }
  h3 {
    font-size: 0.75rem;
  }
  &.Active,
  &.Active > .StreamCardBody {
    height: max-content;
  }
}
.StreamCardTitle {
  grid-area: Title;
}
.StreamCardIcon {
  grid-area: Icon;
  background-color: var(--Background);
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  display: flex;
  align-content: center;
  &.OnSubmission {
    background-color: var(--Active);
  }
  &.DueDate {
    background-color: #e91e63;
  }
  &.Unread {
    background-color: #fb8c00;
  }
  span {
    margin: auto;
  }
}
.StreamIframe {
  border: none;
  overflow: hidden;
  height: calc(100vh - 64px);
  width: 100%;
  background: #fff;
}

.StreamCardBody {
  grid-area: Content;
  overflow: hidden;
  width: 100%;
  height: 0;
  cursor: auto;
  // Card Body Stuff
  img,
  video {
    border-radius: 0.5rem;
  }
  .btn {
    display: block;
    background-color: var(--Active);
    padding: 0.75rem 1rem;
    color: #fff;
    border-radius: 0.5rem;
    height: max-content;
    width: max-content;
    text-decoration: none;
    &:hover {
      background-color: #fb8c00;
    }
  }
  object {
    aspect-ratio: 16 /9;
  }
  .Loader {
    min-height: 20rem;
  }
}

// File Upload
.FileSubmit {
  height: 12.5rem;
  display: grid;
  grid-template-columns: 75% 1fr;
  .UploadedFiles {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    .UploadedFile {
      width: 8rem;
      height: 4.5rem;
      background: var(--Background);
      border-radius: 0.5rem;
      margin: 0.25rem;
      position: relative;
      overflow: hidden;
      .FileTitle {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        color: #fff;
        font-size: 0.75rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 0.5rem;
      }
      .FileRemove {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.75);
        color: #fff;
        font-size: 0.75rem;
        padding: 0.25rem;
        border-radius: 0 0 0 0.5rem;
      }
    }
  }
  .FileForm {
    display: flex;
    flex-direction: column;
    textarea {
      background-color: #222222;
      border: 0.0625rem solid var(--Border);
      flex-grow: 1;
      border-radius: 0.5rem;
      resize: none;
      outline: none;
      color: #fff;
      padding: 0.5rem;
    }
    button {
      background-color: var(--Active);
      margin-top: 1rem;
      height: 2rem;
      border-radius: 0.5rem;
      border: none;
      outline: none;
      cursor: pointer;
      &:hover {
        opacity: 0.75;
      }
    }
  }
}

.DropDown {
  min-height: 30rem;
  width: 25rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid var(--Border);
  background-color: var(--Foreground);
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;
  padding: 1rem;
  margin: -0.25rem 0.5rem;
  overflow-y: scroll;
}
.NotificationShade {
  list-style: none;
  padding-inline-start: 0;
  li {
    border-bottom: 1px solid white;
    padding-top: 1rem;
    a {
      color: #fff;
      text-decoration: none;
      font-size: 1.5rem;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    img {
      display: none;
    }
  }
}
