.container {
  // TODO: Something feels Off Here
  min-width: max-content;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border: 0.0625rem solid var(--Border);
  background-color: #084d91;
  border-radius: 0.5rem;
  cursor: pointer;
  &.disabled {
    background-color: var(--Foreground);
  }
}
