@use 'sass:color';
.markDown {
  margin: 0.52rem;
  // Headers
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #00b2ff;
    font-weight: bold;
  }
  // Lists
  ul,
  ol {
    padding: 0.25rem 0;
  }
  ol {
    list-style: none;
    counter-reset: incr;
    li {
      counter-increment: incr;
      &::before {
        content: counter(incr) ') ';
      }
    }
    ol {
      list-style: lower-roman;
      ol {
        list-style: lower-alpha;
      }
    }
  }
  // Links
  a {
    filter: invert(100%) !important;
    color: #008685;
    &:hover {
      color: color.scale(#008685, $lightness: -30%);
    }
  }
  span {
    filter: invert(100%) !important;
  }
}
